PREFIX fedora-model: <info:fedora/fedora-system:def/model#>

CONSTRUCT { <info:fedora/${headers.Fcrepo3Pid}> fedora-model:hasModel ?model . }
FROM <#ri>
WHERE
{
  <info:fedora/${headers.Fcrepo3Pid}> fedora-model:hasModel ?model .
} 
